<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css">
    <script src="app.js"></script>
    <title>Raha</title>
</head>

<body>
    <div class="barraTop">
        <div class="barraTop_contenedor">
            <span class="barraTop_texto">COMPRA AHORA EN AMAZON // WALMART</span>
        
        
            <ul class="barraTop_idiomas">
                <li><a>EN| </a></li>
                <li><a>ES| </a></li>
                <li><a>POR</a></li>
            </ul>
         </div>
    </div>

    <header class="header">

        <div class="header__contenedor">
            <div class="header_logo">
                <a href="/"><img src="/images/logo.svg" alt="Logo Raha"></a>
            </div>
            <div class="hamburger" id="hamburger"> 
                <i class="fas fa-bars"></i>
            </div>
            <nav class="header_nav">
                <ul class="nav_item">
                    <li><a href="/#colchones">COLCHONES</a></li>
                    <li><a href="/#basesEco">BASES</a></li>
                    <li><a href="/#colchones">INNOVACIÓN</a></li>
                    <li><a href="/about">QUIENES SOMOS</a></li>
                </ul>
            </nav>

            <div class="header_redes">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>    
    </header>   


    <main class="wellnessPage">

        <section class="store">

            <div class="store_contenedor">

                <div class="store_img">
                    <img src="/images/situacion_basic(1).png" alt="colchón balance">
                </div>

                <div class="store_contenido">

                   <div class="contenido_info">
                        <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA essential</a></div>
                        <h1 class="store_title title-essential">raha essential</h1>
                        <div class="review">
                    
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span>4.5 (1234 Reseñas)</span>
                        </div>
                        <p class="store_text essential-text">Acá una breve descripción general del colchón consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua</p>
                        <div class="selectores">
                            <div class="selector1">
                                <span>ALTURA</span>
                                <select name="select" class="altura">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </div>

                            <div class="selector2">
                                <span>TAMAñO</span>

                                <select name="select" class="side">
                                    <option value="value1">Value 1</option>
                                    <option value="value2" selected>Value 2</option>
                                    <option value="value3">Value 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="btnBuy btnBuy-essential">
                            <a href="#">COMPRAR AHORA</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>




        <section class="barraIconos">
            <div class="barraiconos_contenedor">

                <div class="contenedor_item">
                    <img src="/images/icons/ecology.png" alt="Ecofriendly">
                    <p>Ecofriendly</p>
                </div>

                <div class="contenedor_item">
                    <img src="/images/icons/knowledge.png" alt="Solucion Inteligente">
                    <p>SOLUCIÓN<br> INTELIGENTE</p>
                </div>
                <div class="contenedor_item">
                    <img src="/images/icons/ok.png" alt="Mejor producto">
                    <p>MEJOR PRODUCTO<br> AL MEJOR PRECIO</p>
                </div>
                <div class="contenedor_item">
                    <img src="/images/icons/verificado.png" alt="calidad verificada">
                    <p>CALIDAD CERTIFICADA</p>
                </div>
            </div>

        </section>

        <section class="essentialPage">

            <div class="balance_contenedor">
                
                <div class="balance_img">
                    <img src="/images/altura_basic.png" alt="">
                </div>
                
                <div class="essential_grid">

                    <div class="balance_title">
                        <h4 >Aca una breve descripción del colchón orientada a la experiencia, por qué lo pensaron con las características que tiene.</h4> 
                    </div>

                    <div class="balance_items">
                    
                        <div class="balance_item">
                            <div class="item_img">
                                <img src="/images/icons/hand.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>MEMORY FOAM</h5>
                                <span>Espuma diseñada para amoldarse al cuerpo de cada uno.</span>
                            </div>
                        </div> 

                        <div class="balance_item">
                            <div class="item_img">
                                <img src="/images/icons/security.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>SANITIZED®</h5>
                                <span>Previene bacterias y hongos, elimina manchas y olores y repele los ácaros del polvo.</span>
                            </div>
                        </div>

                        <div class="balance_item">
                            <div class="item_img">
                                <img src="/images/icons/hilo.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>TEJIDO DE PUNTO</h5>
                                <span>Hilos de origen natural entrelazados de manera horizontal y vertical que facilitan la circulación de aire.</span>
                            </div>
                        </div>

                    </div>
                    
                </div>

            </div>

        </section>

        <section class="especificaciones">
            <h4 class="especificaciones_title">ESPECIFICACIONES</h4>
            <div class="especificaciones_contenedor">
                
                <div class="especificaciones_info">
                    <h5>medidas</h5>
                    <p>Aca van las medidas</p>
                </div>
                <div class="especificaciones_info">
                    <h5>CONSTRUCCIÓN</h5>
                    <p>Aca van las medidas</p>
                </div>
                <div class="especificaciones_info">
                    <h5>RIGIDEZ</h5>
                    <p>Aca van las medidas</p>
                </div>
                <div class="especificaciones_info">
                    <h5>CERTIFICADOS</h5>
                    <p>Aca van las medidas</p>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer_contenedor">
            <div class="contenedor_texto">
            <p>¡Suscribite para enterarte de las actualizaciones y<br> obtener descuentos en nuestros productos!</p>
            </div>
            <div class="contenedor_email">
                <input class="email" type="email">
                <input class="submit" type="submit" value="sing up">
            </div>
        </div>
    </footer>
</body>