<!DOCTYPE html>
<html lang="es">
    <%- include('./layout/head') %>

<body>
    <%- include('./layout/header') %>


    <main class="index">
        <section class="contenido1">

            <div class="contenido1__test">
                <h2>Encontrá tu colchón ideal</h2>
                <a href="#encuesta" class="btn1">HACÉ EL TEST</a>
            </div>

            <div class="contenido1__black">
                <h1>BLACK FRIDAY SALE</h1>
                <h2>Ahorrá hasta un 20%</h2>
                <a href="#colchones" class="btn1">COMPRÁ AHORA</a>
            </div>

        </section>

        <section class="encuenta" id="encuesta">
            <div class="encuenta__cont1">
                <h3>Encontrá tu colchón ideal</h3>
                <a class="btn2">BUSCAR</a>
            </div>

            <div class="encuesta__cont2">
                <h3 class="num-relleno numUno">1</h3>
                <div class="cont2_contenedor">
                    <p>¿Cuál es tu posición al dormir?</p>
                    <a class="btn3" href="">de espaldas</a>
                    <a class="btn3" href="">de costado</a>
                    <a class="btn3" href="">boca abajo</a>
                </div>
            </div>

            <div class="encuesta__cont2">
                <h3 class="num-relleno">2</h3>
                <div class="cont2_contenedor">
                    <p>¿Qué interrumpe tu sueño?</p>
                    <a class="btn3" href="">calor</a>
                    <a class="btn3" href="">dolores</a>
                    <a class="btn3" href="">movimientos</a>
                </div>
            </div>

            <div class="encuesta__cont2">
                <h3 class="num-relleno">3</h3>
                <div class="cont2_contenedor">
                    <p>¿Cuántas horas dormis?</p>
                    <a class="btn3" href="">6 / 7 horas</a>
                    <a class="btn3" href="">8 / 9 horas</a>
                    <a class="btn3" href="">10 / 12 horas</a>
                </div>
            </div>
        </section>

        <section class="essential" id="colchones">

            <div class="essential_principal">
                <h3 class="principal__titulo1">essential</h3>
                <div class="essential_contenedor">
                    <div class="essential_img">
                        <img src="/images/sensa_basic.png" alt="">
                    </div>
                    <div class="essential_list">
                        <ul>
                            <li><i class="far fa-check-circle"></i><span>Memory foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Soft Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>HD Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Tejido de punto</span></li>
                            <li><i class="far fa-check-circle"></i><span>Sanitized®</span></li>
                        </ul>
                    </div>
                    <div class="essential_btn">
                        <a href="/essential/es" class="btn4">CONOCÉ MÁS</a>
                    </div>
                </div>
            </div>

            <div class="essential_principal">
                <h3 class="principal__titulo2">balance</h3>
                <div class="essential_contenedor">
                    <div class="essential_img">
                        <img src="/images/mano_bamboo.png" alt="">
                    </div>
                    <div class="essential_list">
                        <ul>
                            <li><i class="far fa-check-circle"></i><span>Memory foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Soft Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>HD Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Tejido de punto</span></li>
                            <li><i class="far fa-check-circle"></i><span>Adaptive®</span></li>
                            <li><i class="far fa-check-circle"></i><span>Bamboo®</span></li>
                        </ul>
                    </div>
                    <div class="essential_btn">
                        <a href="/balance/es" class="btn4 btn4balance">CONOCÉ MÁS</a>
                    </div>
                </div>
            </div>

            <div class="essential_principal">
                <h3 class="principal__titulo3">wellness</h3>
                <div class="essential_contenedor">
                    <div class="essential_img">
                        <img src="/images/mano_premium.png" alt="">
                    </div>
                    <div class="essential_list">
                        <ul>
                            <li><i class="far fa-check-circle"></i><span>Memory foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Soft Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>HD Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Tencel™</span></li>
                            <li><i class="far fa-check-circle"></i><span>Sanitized®</span></li>
                            <li><i class="far fa-check-circle"></i><span>Adaptive®</span></li>
                            <li><i class="far fa-check-circle"></i><span>Purotex®</span></li>
                        </ul>
                    </div>
                    <div class="wellness_btn">
                        <a href="/wellness/es" class="btn4 btn4welness">CONOCÉ MÁS</a>
                    </div>
                </div>
            </div>

        </section>
        <section class="basesEco" id="basesEco">
            <div class="basesEco_img">
                <img src="/images/estructura.png">
            </div>
            <div class="basesEco_contenido">
                <div class="contenido_img">
                    <img src="/images/icons/bioGreen.png">
                </div>
                <div class="contenido_descripcion">
                    <h3>NUESTRAS BASES</h3>
                    <p>Incorporamos bases de cartón que ofrecen 
                    las mismas ventajas y soporte que otro tipo 
                    de bases. Al ser ecológicas, ayuda a reducir 
                    significativamente el impacto de nuestra 
                    producción en el medio ambiente.</p>
                    <a href="#colchones" class="btn5">COMPRAR AHORA</a>
                </div>
            </div>
        </section>

        <section class="tecnologias">
            <h3>NUESTRAS TECNOLOGÍAS</h3>
            <div class="tecnologias_selector">
                <ul class="selector">
                    <li class="item first"><a id="btn-essential">essential</a></li>
                    <li class="item"><a id="btn-balance">balance</a></li>
                    <li class="item"><a id="btn-wellness">wellness</a></li>
                    <div class="animation start-home"></div>
                  </ul>
                 
            </div>

            <div class="tecnologias_tipos">
                <div class="tipos_items btn-memory active">
                    <div class="tipos_img">
                        <img src="/images/icons/memory-foam-azul-2.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>MEMORY FOAM</h4>
                        <p>Espuma diseñada para amoldarse al cuerpo de cada uno. </p>
                    </div>
                </div>

                <div class="tipos_items btn-purotex active">
                    <div class="tipos_img">
                        <img src="/images/icons/purotex-azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>PUROTEX®</h4>
                        <p>Reduce en un 93,7 % la cantidad de alérgenos de ácaros.</p>
                    </div>
                </div>

                <div class="tipos_items btn-bamboo">
                    <div class="tipos_img correccion">
                        <img src="/images/icons/bamboo_azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>BAMBOO®</h4>
                        <p>Barrera natural contra las bacterias e incremento de la absorción de humedad.</p>
                    </div>
                </div>

                <div class="tipos_items btn-adaptative">
                    <div class="tipos_img">
                        <img src="/images/icons/adaptive_azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>ADAPTIVE®</h4>
                        <p>Con respuesta dinámica generando un ambiente fresco y seco.</p>
                    </div>
                </div>

                <div class="tipos_items btn-sanitized">
                    <div class="tipos_img correccion">
                        <img src="/images/icons/sanitized-azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>SANITIZED®</h4>
                        <p>Previene bacterias y hongos, elimina manchas y olores y repele los ácaros del polvo</p>
                    </div>
                </div>

                <div class="tipos_items btn-tencel">
                    <div class="tipos_img correccion2">
                        <img src="/images/icons/ecology.png" alt="">
                    </div>

                    <div class="tipos_contenido ">
                        <h4>TENCEL™</h4>
                        <p>Tela orgánica que brinda frescura y protección.</p>
                    </div>
                </div>

            </div>

        </section>

        <section class="desafio">
            <div class="desafio_contenedor">
                <div class="desafio_contenido">
                    <h3>NUESTRO DESAFÍO</h3>
                    <h4>TU DESCANSO</h4>
                    <a href="/about" class="btn6">CONOCÉ A RAHA</a>
                </div>
            </div>
        </section>

        <section class="barraIconos">
            <div class="barraiconos_contenedor">

                <div class="contenedor_item">
                    <img src="/img/icons/ecofriendly_azul.png" alt="Ecofriendly">
                    <p class="ecotext">Ecofriendly</p>
                </div>

                <div class="contenedor_item">
                    <img src="/img/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                    <p>SOLUCIÓN<br> INTELIGENTE</p>
                </div>
                <div class="contenedor_item">
                    <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                    <p>MEJOR PRODUCTO<br> AL MEJOR PRECIO</p>
                </div>
                <div class="contenedor_item">
                    <img src="/images/icons/certificada.png" alt="calidad verificada">
                    <p>CALIDAD<br> CERTIFICADA</p>
                </div>
            </div>
        </section>
    </main>

    <%- include('./layout/footer') %>    
</body>