:root {
    --primario: #066536;
    --blanco: #F6F6F6;
    --negro: #000000;
    --celeste:#D5E7EA;
    --secundarioOscuro:#035555;
    --secundario:#049c9c;
    --verdeOscuro:#0a313a;
}

.wellnessPage{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(246, 246, 246) 0%, rgb(246, 246, 246) 52%, rgb(246, 246, 246) 100%);
}

/*STORE */

.store{
    width: 100%;
    margin: 3rem auto;
    padding: 3rem;
}

.store_contenedor{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.store_img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    max-width: 507px;

}
.store_img img{
    width: 100%;
    height: 100%;
}
@media (min-width:768px) { 
    
}
.store_contenido{
    width: 100%;
    max-width: 507px;
}
.store_nav{
    font-family: 'CarneroSemiBold';
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: left;
    color: #0d3845;
    text-decoration: none;
    font-weight: 700;
}
.store_nav a{
    margin-right: .6rem;
}
.store_nav a:focus{
    color: #25597b;
}
.store_nav a:visited{
    color: #25597b;
}

.store_title{
    font-family: 'CarneroSemiBold';
    font-size: 3.2rem;
    text-transform: none;
    letter-spacing: 5px;
    color: #117e89;
    font-weight: 900;
    font-style: italic;
}
@media (min-width: 768px) { 
    .store_title{
        font-size: 5rem;
        font-weight: 500;
        text-transform: none;
    }
}
.review{
    font-family: 'CarneroRegular';
    margin: 1rem 0;
    font-size: 1.5rem;
}
.review i{
    margin-right: 1rem;
    color: var(--verdeOscuro);
}
.review span{
    font-family: 'CarneroRegular';
    font-size: 1.2;
    font-weight: 500;
    color: var(--verdeOscuro);
}
.store_text{
    font-family: 'CarneroRegular';
    font-size: 1.8rem;
    color: var(--verdeOscuro);
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
}
@media (min-width:768px) { 
    .store_title{
        margin-bottom: 3rem;
    }
    .review{
        margin: 3rem 0;
    }
    .store_text{
        margin-bottom: 4rem;
    }
}
.selectores{
    font-family: 'Carnero Regular';
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
}
@media (min-width:768px) { 
    .selectores{
        margin: 4rem 0;
    }
}
.selector1{
    margin-right: 1rem;
}
.selector1, .selector2{
    display: flex;
    flex-direction: column;
}
.selector1 span, .selector2 span{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--secundarioOscuro);
    font-weight: 400;
    margin-bottom: 1rem;
}
.selector1 select, .selector2 select{
    background-color: transparent;
    border: 1px solid #117e89;;
    border-radius: 5px;
    width: 14rem;
    height: 2.9rem;
}
@media (min-width:768px) { 
    .selector1 select, .selector2 select{
        width: 14rem;
        height: 2.9rem;
        border-radius: 3px;
    }
}
@media (min-width:1100px) { 
    @media (min-width:768px) { 
        .selector1 select, .selector2 select{
            width: 20rem;
            height: 2.9rem;
            border-radius: 3px;
        }
    }
}
.btnBuy{
    font-family: 'Carnero Regular';
    margin: 4rem 0;
}

@media (min-width: 768px) { 
    .btnBuy{
        margin: 6rem 0;
    }
}

.btnBuy a{
    font-size: 1.6rem;
    letter-spacing: 2px;
    border: 1px solid var(--verdeOscuro);
    padding: 1.5rem 1rem;
    width: 60%;
    border-radius: 20px;
    color: var(--verdeOscuro);
    font-weight: 600;
    transition: all 300ms ease;
    background-color:transparent;
}
.btnBuy a:hover{
    background-color: #ece0ee;
}
.btnBuy a:active{
    color: #ece0ee;
    background-color: #0b353f;
}

@media (min-width:768px) {
    .store{
        width: 100%;
    } 
    .store_contenedor{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 3rem;
        max-width:1045px;
        margin: 0 auto;
    }
    .store_contenido{
        width: 100%;
        height: 100%;
    }
}
.wellness{
    width: 100%;
    background: rgb(11,55,65);
    background: linear-gradient(90deg, rgba(11,55,65,1) 0%, rgba(8,103,109,0.958420868347339) 30%, rgba(4,156,156,1) 100%);
}

.welness_contenedor{
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.welness_contenedor::before{
    content: '';
    background-image: url(/img/icons/trama2.png);
    display: block;
    width: 70%;
    height: 100%;
    top: 0;
    right: 6rem;
    position: absolute;
    z-index: 0;
}
@media (min-width: 768px) { 
    .welness_contenedor::before{
        content: '';
        background-image: url(/img/icons/trama2.png);
        display: block;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
}
.welness_img{
    width: 80%;
    max-width: 380px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}
.welness_item-img img{
    width: 7rem;
    height: 7rem;
    margin: auto auto;
    padding: .5rem;
}
.welness_grid{
    color: var(--blanco);
    z-index: 1;
}
.welness_title{
    width: 90%;
    margin: 0 auto;
    font-family: 'CarneroSemiBoldItalic';
    font-size: 1.5rem;
    text-align: left;
    z-index: 1;
}
.welness_items{
    font-family: 'CarneroRegular';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.welness_item{
    width: 250px;
    height: 9rem;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1rem;
    max-width:272px;
    z-index: 1;
}
.item_img{
    width: 7rem;
    height: 7rem;
    margin: auto auto;
    padding: .5rem;
    z-index: 1;
}
@media (min-width:580px) { 
    .wellnessFirstItems{
        margin-bottom: 11rem;
    }
}

.item_contenido h5{
    font-size: 1.3rem;
    font-weight: 700;
    margin: .7rem 0;
    z-index: 1;
}
.item_contenido span{
    font-size: 1rem;
    font-weight: 400;
    z-index: 1;
}
@media (min-width:768px) { 
    .welness_contenedor{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        height: 50rem;
    }

    .welness_title{
        display: block;
        width: 50%;
        margin: 0 4rem;
        z-index: 1;
    }

    .welness_img{
        width: 50%;
        height: 50%;
        margin-bottom: 25rem;
        max-width: 244px;
        max-height: 230px;
        z-index: 1;
    }
    .welness_img img{
        width: 100%;
        height: 100%;
    }
     .welness_grid{
        margin: 0;
        width: 70%;
        display: grid;
        grid-row: 30% 70%;
    }
    .wellnessFirstItems{
        margin-bottom: 0;
    }
     /* .welness_items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  */
    .wellnessFirstItems{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30%;
        column-gap: 0;
    }
    .wellnessLastItems{
        width: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
}
@media (min-width:1100px) { 
    .welness_img{
        margin-right: 10rem;
    }
}


.especificaciones{
    width: 100%;
    margin: 2rem auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.especificaciones_contenedor{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    text-transform: uppercase;
}
 .especificaciones_title{
    font-family: 'CarneroSemiBold';
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--secundarioOscuro);
    text-align: left;
}
.especificaciones_info{
    font-family: 'CarneroRegular';
    text-align: left;
    margin: 1rem 1rem;
    padding: 1rem;
}
.especificaciones_info h5{
    font-family: 'CarneroRegular';
    font-size: 1.5rem;
    color: var(--verdeOscuro);
    font-weight: 900;
}
.wellness-lista{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
    padding: 0;
}
.wellness-lista li{
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    color: var(--secundario);
    font-weight: 700;
    
}
.especificaciones_info p{
    text-align: left;
    font-size: 1.3rem;
    color: var(--secundario);
    font-weight: 700;
}

@media (min-width:768px) { 
    .especificaciones{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .especificaciones_contenedor{
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }
}