.title-essential{
    font-family: 'Montserrat';
    font-size: 3.2rem;
    text-transform: none;
    letter-spacing: 5px;
    color: #75887d;
    font-weight: 600;
    font-style: italic;
    
}
.essential_grid {
    color:#ffffff!important;
}
@media (min-width: 768px) { 
    .title-essential{
        font-size: 5rem;
        text-transform: none;
    }
}
.essential-text{
    font-family: 'Montserrat';
    font-size: 1.8rem;
    color: var(--verdeOscuro);
    font-weight: 400;
    text-align: left;
    margin-bottom: 2rem;
}
.selectores{
    font-family: 'CarneroRegular';
}
.btnBuy-essential a{
    font-family: 'CarneroRegular' !important;
    font-size: 2rem;
    border: 1px solid #22541a;
    padding: 1.4rem 1rem 1.1rem 1rem;
    width: 60%;
    border-radius: 20px;
    color: #22541a;
    font-weight: 600;
    transition: all 300ms ease;
    background-color:transparent;
    transition: all 300 ease;
}
.btnBuy-essential a:hover{
    border: none;

}
.btnBuy-essential a:active{
    background-color: #75887d;
}
select:hover{
    background-color: #ece0ee;
}
/*ESSENTIAL DESCRIPCION*/

.essentialPage{
    width: 100%;
    background: rgb(119,137,126);
    background: linear-gradient(90deg, rgba(119,137,126,1) 0%, rgba(149,159,155,1) 30%, rgba(227,217,229,1) 100%);
    position: relative;
    overflow: hidden;
}
.essentialPage:before{
    content: '';
    background-image:url(/img/icons/trama4.png);
    width: 49%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 0;
}
.essential_grid{
    color: #0b353f;
}

@media (min-width:780px) { 
    .essential_grid{
        width: 60%;
        display: grid;
        grid-row: 30% 70%;
    }
}