<main class="aboutUs">

    <section class="about">

        <div class="about_contenedor">
            <div class="contenedor_text">
                <h1>We are <span>Raha</span></h1>
                <p>We propose to innovate the production of
                    rest, improve it, make it sustainable and smart.
                    Our goal is to combine technology and innovation
                    in performance with the practicality and simplicity of
                    rolled up mattresses.</p>
            </div>

            <div class="contenedor_img">
                <img src="/images/about.png" alt="">
            </div>

        </div>

    </section>

    <section class="about2">
        <div class="about2_contenedor">
            <div class="about2_img">
                <img src="/images/young-beautiful-woman-lying-on-bed-early-in-morning-(1).png" alt="">
            </div>

            <div class="about2_text">
                <h2>How we transform the time we spend sleeping into rest time?</h2>
                <p>We design our products comprehensively. On
                    other words, it is not only imperative to focus on
                    the comfort and convenience of our products,
                    but also in making your life easier.</p>
            </div>
        </div>
    </section>

    <section class="bannerDesafio">
        <div class="bannerDesafio_contenedor">
            <img src="/img/icons/nuestro-desafio-tu-descanso.png" alt="">
        </div>
    </section>
    
    <section class="about3">

        <h4>TECHNOLOGIES THAT SET US DIFFERENT</h4>

        <div class="about3_tecnologias">
    
            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/memory-foam-azul.png" alt="">
                </div>
                <p class="memoryFoam">MEMORY FOAM</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/adaptive_azul.png" alt="">
                </div>
                <p>ADAPTIVE®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/sanitized-azul.png" alt="">
                </div>
                <p>SANITIZED®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/purotex-azul.png" alt="">
                </div>
                <p>PUROTEX®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/tencel-azul.png" alt="">
                </div>
                <p>TENCEL™</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/bamboo_azul.png" alt="">
                </div>
                <p>BAMBOO®</p>
            </div>

        </div>

        <div class="about3_info">

            <div class="about3_banner1">

                <div class="banner1_contenedor">
                    <img src="/img/icons/ecofriendly_verde.png" alt="">
                    <h4>Committed to the environment</h4>
                    <p>We are a certified B company. This shows our commitment to the highest standards in terms of social and environmental performance, transparency and corporate responsibility. We consider our work a contribution to achieve a more inclusive and ecologically sustainable world.</p>
                </div>
                
            </div>

            <div class="about3_banner2">
            <img src="/images/situacion_basic(1).png" alt="">
            </div>
        
        </div>

        
        

    </section>

    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                <p>INTELLIGENT<br> SOLUTION</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/ok.png" alt="Mejor producto">
                <p>BEST PRODUCT <br>AT THE BEST PRICE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/verificado.png" alt="calidad verificada">
                <p>CERTIFIED QUALITY</p>
            </div>
        </div>
    </section>
</main>