<main class="wellnessPage">

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="/images/situacion_basic(1).png" alt="colchón balance">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA ESSENTIAL</a></div>
                    <h1 class="store_title title-essential">raha essential</h1>
                    <div class="review">
                
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5 (1234 Reseñas)</span>
                    </div>
                    <p class="store_text essential-text">Comfortable and practical. With essential technology for a suitable combination between
                        softness and freshness. Instant sleep assured.</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>HEIGHT</span>
                            <select name="select" class="altura">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>SIZE</span>

                            <select name="select" class="side">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="btnBuy btnBuy-essential">
                        <a href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="SOLUTION INTELLIGENT">
                <p>SOLUTION<br> INTELLIGENT</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                <p>BEST PRODUCT<br> THE BEST PRICE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/certificada.png" alt="calidad verificada">
                <p>CERTIFIED QUALITY</p>
            </div>
        </div>

    </section>

    <section class="essentialPage">

        <div class="balance_contenedor">
            
            <div class="balance_img">
                <img src="/images/altura_basic.png" alt="">
            </div>
            
            <div class="essential_grid">

                <div class="balance_title">
                    <h4>With Memory Foam and Sanitized®. Comfort that adapts to your body and protects you from
                        fungi and bacteria. Knitted fabric cover, freshness that you breathe.
                    </h4> 
                </div>

                <div class="balance_items">
                
                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/memory-foam-azul-2.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>MEMORY FOAM</h5>
                            <span>Foam designed to mold to the body of each one.</span>
                        </div>
                    </div> 

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/sanitized-azul-sin-circulo.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>SANITIZED®</h5>
                            <span>Prevents bacteria and fungi, removes stains and odors, and repels dust mites.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/tejido-de-punto-azul-2.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>KNITTING</h5>
                            <span>Threads of natural origin intertwined horizontally and vertically that facilitate air circulation.</span>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">SPECIFICATIONS</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>MEASURES</h5>
                    <p>TWIN</p>
                    <p>FULL</p>
                    <p>QUEEN</p>
                    <p>KING</p>
            </div>
            <div class="especificaciones_info">
                <h5>CONSTRUCTION</h5>
                <p>3 layers of foam:</p>
                <p>- 1.5” Memory Foam: specially designed to conform to the body of each one</p>
                <p>- 1.5” Soft Foam: medium density, fundamental support</p>
                <p>- 5” HD Foam: high density, top resistance and stability</p>
            </div>
            <div class="especificaciones_info">
                <h5>FEEL</h5>
                <p>Mid-Firm</p>
            </div>
            <div class="especificaciones_info">
                <h5>CERTIFICATES</h5>
                <p></p>
            </div>
        </div>
    </section>

</main>