<footer class="footer">
    <div class="footer_contenedor">
        <p>Subscribe to find out about updates and get discounts on our products!</p>
        <input class="email" type="email" placeholder="email">
        <input class="submit" type="submit" value="sign up">
    </div>
</footer>