    <main class="index">
        <section class="contenido1">

            <div class="contenido1__test">
                <div class="contenido1_contenedor">
                    <h2>Find your ideal mattress </h2>
                    <a href="#encuesta" class="btn1">TAKE THE QUIZ</a> 
                </div>
            </div>

            <div class="contenido1__black">
                <h1>BLACK FRIDAY SALE</h1>
                <h2>Save up to 20%</h2>
                <a href="#colchones" class="btn1">SHOP NOW</a>
            </div>

        </section>

        <section class="encuenta" id="encuesta">
            <div class="encuenta__cont1">
                <div class="cont1_contenido">
                    <h3>Meet your ideal mattress</h3>
                    <a class="btn2" onclick="validationQuestion()">Match</a>  
                </div>
                
            </div>

            <div class="encuesta__cont2">
                <h3 class="num-relleno numUno">1</h3>
                <div class="cont2_contenedor">
                    
                    <p>Sleep Position ?</p>
                    <ul>
                        <li><a onclick="questionOne(event)" class="btn3" data-answer="wellness" >back</a></li>
                        <li><a onclick="questionOne(event)" class="btn3" data-answer="balance">stomach</a></li>
                        <li><a onclick="questionOne(event)" class="btn3" data-answer="essential">side</a></li>
                    </ul>
                    
                    
                    
                </div>
            </div>

            <div class="encuesta__cont2">
                <h3 class="num-relleno">2</h3>
                <div class="cont2_contenedor">
                    <p>What disturbs your sleep more?</p>
                    <ul>
                        <li><a onclick="questionTwo(event)" class="btn3" data-answer="wellness" >feeling too hot</a></li>
                        <li><a onclick="questionTwo(event)" class="btn3" data-answer="balance">aches & pains</a></li>
                        <li><a onclick="questionTwo(event)" class="btn3" data-answer="essential">too much motion / tossing & turning</a></li>
                    </ul>
                </div>
            </div>

            <div class="encuesta__cont2">
                <h3 class="num-relleno">3</h3>
                <div class="cont2_contenedor">
                    <p>Hours of sleep?</p>
                    <ul>
                        <li><a onclick="questionThree(event)" class="btn3" data-answer="balance" >6 / 7 hours</a></li>
                        <li><a onclick="questionThree(event)" class="btn3" data-answer="essential">8 / 9 hours</a></li>
                        <li><a onclick="questionThree(event)" class="btn3" data-answer="wellness">10 / 12 hours</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="essential" id="colchones">

            <div class="essential_principal">
                <h3 class="principal__titulo1">essential</h3>
                <div class="essential_contenedor">
                    <div class="essential_img">
                        <img src="/images/sensa_basic.png" alt="">
                    </div>
                    <div class="essential_list">
                        <ul>
                            <li><i class="far fa-check-circle"></i><span>Memory foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Soft Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>HD Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Knitted Fabric</span></li>
                            <li><i class="far fa-check-circle"></i><span>Sanitized®</span></li>
                        </ul>
                    </div>
                    <div class="essential_btn">
                        <a href="/essential/en" class="btn4 btn4h">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="essential_principal">
                <h3 class="principal__titulo2">balance</h3>
                <div class="essential_contenedor">
                    <div class="essential_img">
                        <img src="/images/mano_bamboo.png" alt="">
                    </div>
                    <div class="essential_list">
                        <ul>
                            <li><i class="far fa-check-circle"></i><span>Memory foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Soft Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>HD Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Knitted Fabric</span></li>
                            <li><i class="far fa-check-circle"></i><span>Adaptive®</span></li>
                            <li><i class="far fa-check-circle"></i><span>Bamboo®</span></li>
                        </ul>
                    </div>
                    <div class="essential_btn">
                        <a href="/balance/en" class="btn4 btn4h">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="essential_principal">
                <h3 class="principal__titulo3">wellness</h3>
                <div class="essential_contenedor">
                    <div class="essential_img">
                        <img src="/images/mano_premium.png" alt="">
                    </div>
                    <div class="essential_list">
                        <ul>
                            <li><i class="far fa-check-circle"></i><span>Memory foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Soft Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>HD Foam</span></li>
                            <li><i class="far fa-check-circle"></i><span>Tencel™</span></li>
                            <li><i class="far fa-check-circle"></i><span>Adaptive®</span></li>
                            <li><i class="far fa-check-circle"></i><span>Purotex®</span></li>
                        </ul>
                    </div>
                    <div class="wellness_btn">
                        <a href="/wellness/en" class="btn4 btn4h">LEARN MORE</a>
                    </div>
                </div>
            </div>

        </section>
        <section class="basesEco" id="basesEco">
            <div class="basesEco_img">
                <img src="/images/estructura.png">
            </div>
            <div class="basesEco_contenido">
                <div class="contenido_img">
                    <img src="/images/icons/ecofriendly_verde.png">
                </div>
                <div class="contenido_descripcion">
                    <h3>OUR BED FRAMES</h3>
                    <p>We have incorporated cardboard bed bases that offer the same advantages and support as other types of bases with an eco-friendly constitution.
                        All of this helps to significantly reduce the impact of our production on the environment.</p>
                    <a href="#colchones" class="btn5">SHOP NOW</a>
                </div>
            </div>
        </section>

        <section class="tecnologias">
            <h3>OUR TECHNOLOGIES</h3>
            <div class="tecnologias_selector">
                <ul class="selector">
                    <li class="item first"><a id="btn-essential" onclick="essentialAction()">essential</a></li>
                    <li class="item"><a id="btn-balance" onclick="balanceAction()">balance</a></li>
                    <li class="item"><a id="btn-wellness" onclick="wellnessAction()">wellness</a></li>
                    <div class="animation start-home"></div>
                  </ul>
                 
            </div>

            <div class="tecnologias_tipos">
                <div id="btn-memory" class="tipos_items active">
                    <div class="tipos_img">
                        <img src="/images/icons/memory-foam-azul-2.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>MEMORY FOAM</h4>
                        <p>Specially designed to conform to the body of each one.</p>
                    </div>
                </div>

                <div id="btn-purotex" class="tipos_items active">
                    <div class="tipos_img">
                        <img src="/images/icons/purotex-azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>PUROTEX®</h4>
                        <p>They reduce the amount of house dust mite allergens by 93,7%!</p>
                    </div>
                </div>

                <div id="btn-bamboo" class="tipos_items active">
                    <div class="tipos_img correccion">
                        <img src="/images/icons/bamboo_azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>BAMBOO®</h4>
                        <p>Natural barrier against bacteria that offers a higher moisture absorption.</p>
                    </div>
                </div>

                <div id="btn-adaptative" class="tipos_items active">
                    <div class="tipos_img">
                        <img src="/images/icons/adaptive_azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>ADAPTIVE®</h4>
                        <p>Dynamic response for a cool & dry sleep environment.</p>
                    </div>
                </div>

                <div id="btn-sanitized" class="tipos_items active">
                    <div class="tipos_img correccion">
                        <img src="/images/icons/sanitized-azul-sin-circulo.png" alt="">
                    </div>

                    <div class="tipos_contenido">
                        <h4>SANITIZED®</h4>
                        <p>It prevents the development and growth of bacteria and fungi, eliminates spots and odors and repels dust mites.</p>
                    </div>
                </div>

                <div id="btn-tencel" class="tipos_items active">
                    <div class="tipos_img correccion2">
                        <img src="/images/icons/ecology.png" alt="">
                    </div>

                    <div class="tipos_contenido ">
                        <h4>TENCEL™</h4>
                        <p>Organic fabric that provides freshness and offers protection.</p>
                    </div>
                </div>

            </div>

        </section>

        <section class="desafio">
            <div class="desafio_contenedor">
                <div class="desafio_contenido">
                    <h3>OUR CHALLENGE</h3>
                    <h4>YOU REST</h4>
                    <a href="/about/en" class="btn1">GET TO KNOW US</a>
                </div>
            </div>
        </section>

        <section class="barraIconos">
            <div class="barraiconos_contenedor">

                <div class="contenedor_item">
                    <img src="/img/icons/ecofriendly_azul.png" alt="Ecofriendly">
                    <p class="ecotext">Ecofriendly</p>
                </div>

                <div class="contenedor_item">
                    <img src="/img/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                    <p>SMART<br> SOLUTION</p>
                </div>
                <div class="contenedor_item">
                    <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                    <p>BEST PRODUCT FOR THE BEST PRICE</p>
                </div>
                <div class="contenedor_item">
                    <img src="/images/icons/certificada.png" alt="calidad verificada">
                    <p>CERTIFIED<br> QUALITY</p>
                </div>
            </div>
        </section>
    </main>