<main class="wellnessPage">

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="/images/situacion_premium.png" alt="colchón wellness">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA WELLNESS</a></div>
                    <h1 class="store_title">raha wellness</h1>
                    <div class="review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5 (1234 Reseñas)</span>
                    </div>
                    <p class="store_text">Comprehensive rest, intelligent technology that interacts with the environment and
                        composes well-being.</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>HEIGHT</span>
                            <select name="select" class="altura">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>SIZE</span>

                            <select name="select" class="side">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="btnBuy">
                        <a href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="SOLUTION INTELIGENTE">
                <p>SOLUTION<br> INTELIGENTE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/mejor_precio.png" alt="BEST PRODUCT">
                <p>BEST PRODUCT<br> THE BEST PRICE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/certificada.png" alt="CERTIFIED QUALIT">
                <p>CERTIFIED QUALITY</p>
            </div>
        </div>

    </section>

    <section class="wellness">

        <div class="welness_contenedor">
            
            <div class="welness_img">
                <img src="/images/mano_premium.png" alt="">
            </div>
            
            <div class="welness_grid">

                <div class="welness_title">
                    <h4 >With Memory Foam and Purotex®, that neutralizes allergens naturally. Its Adaptive®
                        treatment keeps the environment cool and dry. The cover is made of organic Tencel fabric.</h4> 
                </div>

                <div class="welness_items">
                
                    <div class="welness_item">
                        <div class="item_img">
                            <img src="/images/icons/memory-foam-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>MEMORY FOAM</h5>
                            <span>Foam designed to mold to the body of each one.</span>
                        </div>
                    </div> 

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/sanitized-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>SANITIZED®</h5>
                            <span>Prevents bacteria and fungi, removes stains and odors, and repels dust mites.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/purotex-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>PUROTEX®</h5>
                            <span>Reduces the amount of mite allergens by 93.7%.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/tencel-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>TENCEL™</h5>
                            <span>Organic fabric that provides freshness and protection.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/adaptive_blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>ADAPTIVE®</h5>
                            <span>With dynamic response generating a cool and dry environment.</span>
                        </div>
                    </div>
               </div>
                
            </div>

        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">SPECIFICATIONS</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>MEASURES</h5>
                <p>TWIN</p>
                <p>FULL</p>
                <p>QUEEN</p>
                <p>KING</p>
            </div>
            <div class="especificaciones_info">
                <h5>CONSTRUCTION</h5>
                <ul class="wellness-lista">
                    <li>Plush</li>
                    <li>Compuesto por 3 capas:</li>
                    <li>- 2” Memory Foam: specially designed to conform to the body of each one.</li>
                    <li>- 2” Soft Foam: medium density, fundamental support.</li>
                    <li>- 8” HD Foam: high density, top resistance and stability.</li>
                </ul>

                <ul class="wellness-lista">
                    <li>Mid Firm</li>
                    <li>Compuesto por 3 capas:</li>
                    <li>- 1” Memory Foam: specially designed to conform to the body of each one.</li>
                    <li>- 3” Soft Foam: medium density, fundamental support.</li>
                    <li>- 8” HD Foam: high density, top resistance and stability.</li>
                </ul>
            </div>
            <div class="especificaciones_info">
                <h5>Feel</h5>
                <p>Plush / Mid firm</p>
            </div>
            <div class="especificaciones_info">
                <h5>CERTIFICATES</h5>
            </div>
        </div>
    </section>

</main>