<main class="aboutUs">

    <section class="about">

        <div class="about_contenedor">
            <div class="contenedor_text">
                <h1>Nós somos <span>Raha</span></h1>
                <p>Propomos inovar na produção de
                    descanse, melhore, torne-o sustentável e inteligente.
                    Nosso objetivo é combinar tecnologia e inovação
                    no desempenho com a praticidade e simplicidade de
                    colchões enrolados.</p>
            </div>

            <div class="contenedor_img">
                <img src="/images/about.png" alt="">
            </div>

        </div>

    </section>

    <section class="about2">
        <div class="about2_contenedor">
            <div class="about2_img">
                <img src="/images/young-beautiful-woman-lying-on-bed-early-in-morning-(1).png" alt="">
            </div>

            <div class="about2_text">
                <h2>Como transformamos o tempo que passamos dormindo em tempo de descanso?</h2>
                <p>Nós projetamos nossos produtos de forma abrangente. Sobre
                    outras palavras, não é apenas imperativo focar em
                    o conforto e conveniência de nossos produtos,
                    mas também para tornar sua vida mais fácil.</p>
            </div>
        </div>
    </section>

    <section class="bannerDesafio">
        <div class="bannerDesafio_contenedor">
            <img src="/img/icons/nuestro-desafio-tu-descanso.png" alt="">
        </div>
    </section>
    
    <section class="about3">

        <h4>TECNOLOGIAS QUE NOS ESTAMOS DIFERENTES</h4>

        <div class="about3_tecnologias">
    
            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/memory-foam-azul.png" alt="">
                </div>
                <p class="memoryFoam">MEMORY FOAM</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/adaptive_azul.png" alt="">
                </div>
                <p>ADAPTIVE®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/sanitized-azul.png" alt="">
                </div>
                <p>SANITIZED®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/purotex-azul.png" alt="">
                </div>
                <p>PUROTEX®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/tencel-azul.png" alt="">
                </div>
                <p>TENCEL™</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/bamboo_azul.png" alt="">
                </div>
                <p>BAMBOO®</p>
            </div>

        </div>

        <div class="about3_info">

            <div class="about3_banner1">

                <div class="banner1_contenedor">
                    <img src="/img/icons/ecofriendly_verde.png" alt="">
                    <h4>Comprometido com o meio ambiente</h4>
                    <p>Somos uma empresa certificada B. Isso mostra nosso compromisso com os mais altos padrões em termos de desempenho social e ambiental, transparência e responsabilidade corporativa. Consideramos nosso trabalho uma contribuição para alcançar um mundo mais inclusivo e ecologicamente sustentável.</p>
                </div>
                
            </div>

            <div class="about3_banner2">
            <img src="/images/situacion_basic(1).png" alt="">
            </div>
        
        </div>

        
        

    </section>

    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                <p>SOLUÇÃO <br>INTELIGENTE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/ok.png" alt="Mejor producto">
                <p>MELHOR PRODUTO <br>COM O MELHOR PREÇO</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/verificado.png" alt="calidad verificada">
                <p>QUALIDADE CERTIFICADA</p>
            </div>
        </div>
    </section>
</main>