<main class="wellnessPage">

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="/images/situacion_bamboo_ch.png" alt="colchón balance">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA BALANCE</a></div>
                    <h1 class="store_title title-balance">raha balance</h1>
                    <div class="review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5 (1234 Reseñas)</span>
                    </div>
                    <p class="store_text balance_text">O equilíbrio perfeito entre alta qualidade e uma solução natural..</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>HEIGHT</span>
                            <select name="altura" class="altura">
                                <option value="10 inches">10 inches</option>
                                <option value="12 inches">12 inches</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>SIZE</span>
                            <select name="side" class="side">
                                <option value="Twin">Twin (39 x 75 inches)</option>
                                <option value="Full">Full (54 x 75 inches)</option>
                                <option value="Queen">Queen (60 x 80 inches)</option>
                                <option value="King">King (76 x 80 inches)</option>
                            </select>
                        </div>
                    </div>

                    <div class="btnBuyBalance">
                        <a href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/ecofriendly_azul.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="SOLUTION INTELLIGENT">
                <p>SOLUTION<br> INTELLIGENT</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                <p>BEST PRODUCT<br> THE BEST PRICE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/certificada.png" alt="calidad verificada">
                <p>CERTIFIED QUALITY</p>
            </div>
        </div>

    </section>

    <section class="balance">

        <div class="balance_contenedor">
            
            <div class="balance_img">
                <img src="/images/trama_bamboo 3.png" alt="">
            </div>
            
            <div class="balance_grid">

                <div class="balance_title">
                    <h4>Com Memory Foam e Bamboo®. Máximo conforto e barreira natural contra bactérias. Seu
                        tratamento Adaptive® mantém o ambiente fresco e seco.
                        Capa de malha, circulação de ar positiva.</h4> 
                </div>

                <div class="balance_items">
                
                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/memory-foam-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>MEMORY FOAM</h5>
                            <span>Foam designed to conform to the body of each one.</span>
                        </div>
                    </div> 

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/bamboo_blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>BAMBOO®</h5>
                            <span>Natural barrier against bacteria increased moisture absorption.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/tejido-de-punto-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>KNITTING</h5>
                            <span>Threads of natural origin intertwined horizontally and vertically that facilitate air circulation.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/adaptive_blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>ADAPTIVE®</h5>
                            <span>With dynamic response generating a cool and dry environment.</span>
                        </div>
                    </div>
               </div>
                
            </div>

        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">SPECIFICATIONS</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>MEDIDAS</h5>
                    <p>SOLTEIRO</p>
                    <p>CASAL</p>
                    <p>QUEEN</p>
                    <p>KING</p>
            </div>
            <div class="especificaciones_info">
                <h5>Construção</h5>
                <p>3 camadas de espuma:</p>
                <p>- 3 cm de Memory Foam: especialmente desenhada para se adaptar ao corpo.</p>
                <p>- 3 cm Espuma Soft: densidade média, suporte fundamental</p>
                <p>- 24 cm Espuma HD : alta densidade, resistência superior e estabilidade</p>
            </div>
            <div class="especificaciones_info">
                <h5>Sentir</h5>
                <p>Firme-confortável</p>
            </div>
            <div class="especificaciones_info">
                <h5>Certificações</h5>
                <p></p>
            </div>
        </div>
    </section>

</main>