<main class="wellnessPage">

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="/images/situacion_basic(1).png" alt="colchón balance">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA ESSENTIAL</a></div>
                    <h1 class="store_title title-essential">raha essential</h1>
                    <div class="review">
                
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5 (1234 Reseñas)</span>
                    </div>
                    <p class="store_text essential-text">Confortável e prático. Com tecnologia essencial para uma combinação adequada entre
                        suavidade e frescura. Sono instantâneo garantido.</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>HEIGHT</span>
                            <select name="select" class="altura">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>SIZE</span>

                            <select name="select" class="side">
                                <option value="value1">Value 1</option>
                                <option value="value2" selected>Value 2</option>
                                <option value="value3">Value 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="btnBuy btnBuy-essential">
                        <a href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="SOLUTION INTELLIGENT">
                <p>SOLUTION<br> INTELLIGENT</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                <p>BEST PRODUCT<br> THE BEST PRICE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/certificada.png" alt="calidad verificada">
                <p>CERTIFIED QUALIT</p>
            </div>
        </div>

    </section>

    <section class="essentialPage">

        <div class="balance_contenedor">
            
            <div class="balance_img">
                <img src="/images/altura_basic.png" alt="">
            </div>
            
            <div class="essential_grid">

                <div class="balance_title">
                    <h4>Com Memory Foam e Sanitized®. Conforto que se adapta ao seu corpo e protege contra
                        fungos e bactérias. Capa em malha, frescura que respira.
                    </h4> 
                </div>

                <div class="balance_items">
                
                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/memory-foam-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>MEMORY FOAM</h5>
                            <span>Foam designed to mold to the body of each one.</span>
                        </div>
                    </div> 

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/sanitized-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>SANITIZED®</h5>
                            <span>Prevents bacteria and fungi, removes stains and odors, and repels dust mites.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/tejido-de-punto-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>KNITTING</h5>
                            <span>Threads of natural origin intertwined horizontally and vertically that facilitate air circulation.</span>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">SPECIFICATIONS</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>MEDIDAS</h5>
                    <p>SOLTEIRO</p>
                    <p>CASAL</p>
                    <p>QUEEN</p>
                    <p>KING</p>
            </div>
            <div class="especificaciones_info">
                <h5>Construção</h5>
                <p>3 cm de Memory Foam:</p>
                <p>- especialmente desenhada para se adaptar ao corpo</p>
                <p>- 3 cm Espuma Soft: densidade média, suporte fundamenta</p>
                <p>- 14 cm Espuma HD : alta densidade, resistência superior e estabilidade</p>
            </div>
            <div class="especificaciones_info">
                <h5>Sentir</h5>
                <p>Firme-confortável</p>
            </div>
            <div class="especificaciones_info">
                <h5>Certificações</h5>
                <p></p>
            </div>
        </div>
    </section>

</main>