<footer class="footer">
    <div class="footer_contenedor">
        <p>Inscreva-se para saber mais sobre atualizações e obter descontos em nossos produtos!</p>
        <input class="email" type="email" placeholder="email">
        <input class="submit" type="submit" value="sign up">
    </div>
</footer>