<footer class="footer">
    <div class="footer_contenedor">
        <div class="contenedor_texto">
        <p>¡Suscribite para enterarte de las actualizaciones y<br> obtener descuentos en nuestros productos!</p>
        </div>
        <div class="contenedor_email">
            <input class="email" type="email">
            <input class="submit" type="submit" value="sing up">
        </div>
    </div>
</footer>