<main class="aboutUs">

    <section class="about">

        <div class="about_contenedor">
            <div class="contenedor_text">
                <h1>Somos <span>Raha</span></h1>
                <p>Proponemos innovar la producción de sistemas de 
                descanso, mejorarla, hacerla sostenible e inteligente. 
                Nuestro objetivo es combinar tecnología e innovación 
                en prestaciones con la practicidad y simplicidad de 
                los colchones enrollados.</p>
            </div>

            <div class="contenedor_img">
                <img src="/images/about.png" alt="">
            </div>

        </div>

    </section>

    <section class="about2">
        <div class="about2_contenedor">
            <div class="about2_img">
                <img src="/images/young-beautiful-woman-lying-on-bed-early-in-morning-(1).png" alt="">
            </div>

            <div class="about2_text">
                <h2>¿Cómo transformamos el tiempo que pasamos durmiendo en tiempo de descanso?</h2>
                <p>Diseñamos nuestros productos de manera integral. En 
                    otras palabras, no sólo es imprescindible enfocarse en 
                    la comodidad y conveniencia de nuestros productos, 
                    sino también en hacerte la vida más sencilla.</p>
            </div>
        </div>
    </section>

    <section class="bannerDesafio">
        <div class="bannerDesafio_contenedor">
            <img src="/img/icons/nuestro-desafio-tu-descanso.png" alt="">
        </div>
    </section>
    
    <section class="about3">

        <h4>TECNOLOGÍAS QUE NOS DIFERENCIAN</h4>

        <div class="about3_tecnologias">
    
            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/memory-foam-azul.png" alt="">
                </div>
                <p class="memoryFoam">MEMORY FOAM</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/adaptive_azul.png" alt="">
                </div>
                <p>ADAPTIVE®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/sanitized-azul.png" alt="">
                </div>
                <p>SANITIZED®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/purotex-azul.png" alt="">
                </div>
                <p>PUROTEX®</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/tencel-azul.png" alt="">
                </div>
                <p>TENCEL™</p>
            </div>

            <div class="tecnologias_contenido">
                <div class="tecnologia_img">
                    <img src="/images/icons/bamboo_azul.png" alt="">
                </div>
                <p>BAMBOO®</p>
            </div>

        </div>

        <div class="about3_info">

            <div class="about3_banner1">

                <div class="banner1_contenedor">
                    <img src="/images/icons/bioGreen.png" alt="">
                    <h4>Comprometidos con el medio ambiente</h4>
                    <p>Somos una empresa con Certificado B. Eso manifiesta nuestro compromiso con los más altos estándares en  materia de desempeño social y ambiental, transparencia y responsabilidad corporativa. Consideramos nuestro trabajo una contribución para alcanzar un mundo más inclusivo y ecológicamente sostenible.</p>
                </div>
                
            </div>

            <div class="about3_banner2">
            <img src="/images/situacion_basic(1).png" alt="">
            </div>
        
        </div>

        
        

    </section>

    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                <p>SOLUCIÓN<br> INTELIGENTE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/ok.png" alt="Mejor producto">
                <p>MEJOR PRODUCTO<br> AL MEJOR PRECIO</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/verificado.png" alt="calidad verificada">
                <p>CALIDAD CERTIFICADA</p>
            </div>
        </div>
    </section>
</main>