<main class="wellnessPage">

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="/images/situacion_basic(1).png" alt="colchón balance">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA ESSENTIAL</a></div>
                    <h1 class="store_title title-essential">raha essential</h1>
                    <!--<div class="review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5 (1234 Reseñas)</span>
                    </div>!-->
                    <p class="store_text essential-text">Cómodo y práctico. Con tecnología esencial para una adecuada combinación entre suavidad y frescura. Sueño instantáneo asegurado.</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>ALTURA</span>
                            <select name="altura" class="altura">
                                <option value="15 cm">15 cm</option>
                                <option value="20 cm">20 cm</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>TAMAÑO</span>
                            <select name="side" class="side">
                                <option value="Twin">Twin (96,5 x 190 cm)</option>
                                <option value="Full">Full (135 x 190 cm)</option>
                                <option value="Queen">Queen (152,5 x 202 cm)</option>
                                <option value="King">King (193 x 202 cm)</option>
                            </select>
                        </div>
                    </div>

                    <div class="btnBuy btnBuy-essential">
                        <a href="#">COMPRAR AHORA</a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                <p>SOLUCIÓN<br> INTELIGENTE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                <p>MEJOR PRODUCTO<br> AL MEJOR PRECIO</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/certificada.png" alt="calidad verificada">
                <p>CALIDAD CERTIFICADA</p>
            </div>
        </div>

    </section>

    <section class="essentialPage">

        <div class="balance_contenedor">
            
            <div class="balance_img">
                <img src="/images/altura_basic.png" alt="">
            </div>
            
            <div class="essential_grid">

                <div class="balance_title">
                    <h4>Con Memory Foam y Sanitized®. Comodidad que se adapta a tu cuerpo y te protege de hongos y bacterias. Cubierta de tejido de punto, frescura que se respira.
                    </h4> 
                </div>

                <div class="balance_items">
                
                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/memory-foam-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>MEMORY FOAM</h5>
                            <span>Espuma diseñada para amoldarse al cuerpo de cada uno.</span>
                        </div>
                    </div> 

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/sanitized-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>SANITIZED®</h5>
                            <span>Previene bacterias y hongos, elimina manchas y olores y repele los ácaros del polvo.</span>
                        </div>
                    </div>

                    <div class="balance_item">
                        <div class="item_img">
                            <img src="/images/icons/tejido-de-punto-blanco.png" alt="">
                        </div>
                        <div class="item_contenido">
                            <h5>TEJIDO DE PUNTO</h5>
                            <span>Hilos de origen natural entrelazados de manera horizontal y vertical que facilitan la circulación de aire.</span>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">ESPECIFICACIONES</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>medidas</h5>
                    <p>TWIN</p>
                    <p>FULL</p>
                    <p>QUEEN</p>
                    <p>KING</p>
            </div>
            <div class="especificaciones_info">
                <h5>CONSTRUCCIÓN</h5>
                <p>Compuesto por 3 capas:</p>
                <p>- 3 cm Memory Foam: especialmente diseñada para adaptarse al cuerpo</p>
                <p>- 3 cm Soft Foam: densidad media, soporte fundamental
                </p>
                <p>- 14 cm HD Foam: alta densidad, resistencia y estabilidad máxima</p>
            </div>
            <div class="especificaciones_info">
                <h5>Sensación</h5>
                <p>Mid-Firm</p>
            </div>
            <div class="especificaciones_info">
                <h5>CERTIFICADOS</h5>
                <p></p>
            </div>
        </div>
    </section>

</main>