<footer class="footer">
    <div class="footer_contenedor">
        <p>¡Suscribite para enterarte de las actualizaciones y obtener descuentos en nuestros productos!</p>
        <input class="email" type="email" placeholder="email">
        <input class="submit" type="submit" value="sign up">
    </div>
</footer>