<main class="wellnessPage">

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="/images/situacion_premium.png" alt="colchón wellness">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="#">HOME /</a><a href="#">COLCHONES /</a><a href="#">RAHA WELLNESS</a></div>
                    <h1 class="store_title">raha wellness</h1>
                    <!--<div class="review">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.5 (1234 Reseñas)</span>
                    </div>!-->
                    <p class="store_text">Descanso integral, tecnología inteligente que interacciona con el ambiente y compone bienestar.</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>ALTURA</span>
                            <select name="altura" class="altura">
                                <option value="30 cm">30 cm</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>TAMAñO</span>
                            <select name="side" class="side">
                                <option value="Twin">Twin (96,5 x 190 cm)</option>
                                <option value="Full">Full (135 x 190 cm)</option>
                                <option value="Queen">Queen (152,5 x 202 cm)</option>
                                <option value="King">King (193 x 202 cm)</option>
                            </select>
                        </div>
                    </div>

                    <div class="btnBuy">
                        <a href="#">COMPRAR AHORA</a>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <section class="barraIconos">
        <div class="barraiconos_contenedor">

            <div class="contenedor_item">
                <img src="/images/icons/bio.png" alt="Ecofriendly">
                <p>Ecofriendly</p>
            </div>

            <div class="contenedor_item">
                <img src="/images/icons/solucion-inteligente.png" alt="Solucion Inteligente">
                <p>SOLUCIÓN<br> INTELIGENTE</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/mejor_precio.png" alt="Mejor producto">
                <p>MEJOR PRODUCTO<br> AL MEJOR PRECIO</p>
            </div>
            <div class="contenedor_item">
                <img src="/images/icons/certificada.png" alt="calidad verificada">
                <p>CALIDAD CERTIFICADA</p>
            </div>
        </div>

    </section>

    <section class="wellness">

        <div class="welness_contenedor">

            <div class="welness_img">
                <img src="/images/mano_premium.png" alt="">
            </div>

            <div class="welness_grid">

                <div class="welness_title">
                    <h4 >Con Memory Foam y Purotex®, que neutraliza agentes alérgenos de manera natural. Su tratamiento Adaptive® mantiene el ambiente fresco y seco. La cubierta es de tela orgánica Tencel.</h4> 
                </div>

                <div class="welness_items">
                
                    <div class="wellnessFirstItems">

                        <div class="welness_item">
                            <div class="item_img">
                                <img src="/images/icons/memory-foam-blanco.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>MEMORY FOAM</h5>
                                <span>Espuma diseñada para amoldarse al cuerpo de cada uno.</span>
                            </div>
                        </div> 
                        <div class="welness_item">
                            <div class="item_img">
                                <img src="/images/icons/purotex-blanco.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>PUROTEX®</h5>
                                <span>Reduce en un 93,7 % la cantidad de alérgenos de ácaros.</span>
                            </div>
                        </div>

                    </div>

                    <div class="wellnessLastItems">
                        <div class="welness_item">
                            <div class="item_img">
                                <img src="/images/icons/tencel-blanco.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>TENCEL™</h5>
                                <span>Tela orgánica que brinda frescura y protección.</span>
                            </div>
                        </div>
                        <div class="welness_item">
                            <div class="item_img">
                                <img src="/images/icons/adaptive_blanco.png" alt="">
                            </div>
                            <div class="item_contenido">
                                <h5>ADAPTIVE®</h5>
                                <span>Con respuesta dinámica generando un ambiente fresco y seco.</span>
                            </div>
                        </div>
                    </div>
               </div>
                
            </div>

            
        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">ESPECIFICACIONES</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>medidas</h5>
                <p>Twin</p>
                <p>Full</p>
                <p>Queen</p>
                <p>King</p>
            </div>
            <div class="especificaciones_info">
                <h5>CONSTRUCCIÓN</h5>
                <ul class="wellness-lista">
                    <li>Plush</li>
                    <li>Compuesto por 3 capas:</li>
                    <li>- 4 cm Memory Foam: especialmente diseñada para adaptarse al cuerpo.</li>
                    <li>- 6 cm Soft Foam: densidad media, soporte fundamental</li>
                    <li>- 20 cm HD Foam: alta densidad, resistencia y estabilidad máxima</li>
                </ul>

                <ul class="wellness-lista">
                    <li>Mid Firm</li>
                    <li>Compuesto por 3 capas:</li>
                    <li>- 2 cm Memory Foam: especialmente diseñada para adaptarse al cuerpo</li>
                    <li>- 8 cm Soft Foam: densidad media, soporte fundamental</li>
                    <li>- 20 cm HD Foam: alta densidad, resistencia y estabilidad máxima</li>
                </ul>
            </div>
            <div class="especificaciones_info">
                <h5>SENSACIÓN</h5>
                <p>Plush / Mid firm</p>
            </div>
            <div class="especificaciones_info">
                <h5>CERTIFICADOS</h5>
            </div>
        </div>
    </section>

</main>